body {
  /* Node Color Pallet */
  /* https://www.nordtheme.com/docs/colors-and-palettes */

  --nord_polar-night_darkest: #2E3440;
  --nord_polar-night_dark: #3B4252;
  --nord_polar-night_light: #434C5E;
  --nord_polar-night_lightest: #4C566A;

  --nord_snow-storm-dark: #D8DEE9;
  --nord_snow-storm: #D8DEE9;
  --nord_snow-storm-light: #ECEFF4;

  --nord_frost_green: #8FBCBB;
  --nord_frost_light: #88C0D0;
  --nord_frost_medium: #81A1C1;
  --nord_frost_dark: #5E81AC;

  --nord_aurora_red: #BF616A;
  --nord_aurora_orange: #D08770;
  --nord_aurora_yellow: #EBCB8B;
  --nord_aurora_green: #A3BE8C;
  --nord_aurora_purple: #B48EAD;

  /* Variables */
  --background-color: var(--nord_polar-night_darkest);
  --text-color: var(--nord_snow-storm-dark);
  --title-color: var(--nord_snow-storm-light);
  --icon-color: var(--nord_snow-storm-dark);
  --icon-bubble-color: var(--nord_polar-night_light);
  --icon-bubble-color_hover: var(--nord_polar-night_lightest);
  --icon-bubble-border-color: var(--nord_polar-night_lightest);

  /* Settings */
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: var(--background-color);
  color: var(--text-color);
}

section {
  padding-top: 18%;
}

.img-profile {
  width: 50px;
  height: 50px;
}

h1 {
  text-align: center;
  color: var(--title-color);
}

.subheading {
  text-align: center;
}

.lead {
  text-align: center;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  display: inline-block;

  /* Circle around icon */
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border: 3px solid var(--icon-bubble-border-color);

  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;

  /* Space next to Circle */
  margin-right: 1rem;

  /* Colors */
  background-color: var(--icon-bubble-color);
  color: var(--icon-color) !important;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: var(--icon-bubble-color_hover);
}

.arrow::before {
  display: none;
}

.tooltip-inner {
  background: none;
}



/*@import url(https://fonts.googleapis.com/css?family=Montserrat);*/

/*html, body{*/
/*  height: 100%;*/
/*  font-weight: 800;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*body{*/
/*  background: #030321;*/
/*  font-family: Arial;*/
/*}*/

/*.container {*/
/*  display: flex;*/
/*  !*   border:1px solid red; *!*/
/*  height: 100%;*/
/*  align-items: center;*/
/*}*/

/* Text Ants /*

 */
svg {
  display: block;
  font-size: 4em;
  /*font: 10.5em 'Montserrat';*/
  width: 450px;
  height: 75px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 15% 17.4%;
  stroke-width: 3px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: var(--nord_snow-storm-dark);
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: var(--nord_frost_green);
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: var(--nord_frost_light);
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: var(--nord_frost_medium);
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: var(--nord_frost_dark);
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}


/* Text Typing */

.word {
  margin: auto;
  color: var(--text-color);
  /*font: 700 normal 2.5em 'tahoma';*/
  /*text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;*/
}


/* Rotate */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.color1 {
  color: var(--nord_aurora_red);
}

.color2 {
  color: var(--nord_aurora_orange);
}

.color3 {
  color: var(--nord_aurora_yellow);
}

.color4 {
  color: var(--nord_aurora_green);
}

.color5 {
  color: var(--nord_aurora_purple);
}
