body {
  background-color: #2E3440;
  padding: 0;
  margin: 0;
  color: #81A1C1;
}

section {
  margin: 0;
  /*padding-left: 20%;*/
  /*padding-right: 20%;*/
  padding-top: 15%;
}

.img-profile {
  width: 50px;
  height: 50px;
}

h1 {
  text-align: center;
  color: #ECEFF4;
}

.subheading {
  text-align: center;
}

.lead {
  text-align: center;
}

.social-icons {
  text-align: center;
}

.social-icons a
{
  display: inline-block;
  height: 3.7rem;
  width: 3.7rem;
  background-color: #434C5E;
  color: #D8DEE9 !important;
  border-radius: 100%;
  border: 2px solid #4C566A;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child
{
  margin-right: 0;
}

.social-icons a:hover
{
  background-color: #4C566A;
}

.text-primary {
  color: #B48EAD !important;
}

/*i {*/
/*  padding-bottom: 10px;*/
/*}*/
