body {
  background-color: #2E3440;
  padding: 0;
  margin: 0;
  color: #81A1C1;
}

section {
  padding-top: 18%;
}

.img-profile {
  width: 50px;
  height: 50px;
}

h1 {
  text-align: center;
  color: #ECEFF4;
}

.subheading {
  text-align: center;
}

.lead {
  text-align: center;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  display: inline-block;

  /* Circle around icon */
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border: 3px solid #4C566A;

  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;

  /* Space next to Circle */
  margin-right: 1rem;

  /* Colors */
  background-color: #434C5E;
  color: #D8DEE9 !important;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #4C566A;
}

.text-primary {
  color: #B48EAD !important;
}

.arrow::before {
  display: none;
}

.tooltip-inner {
  background: none;
}
