body {
    /* Variables */
    --background-color: var(--nord_polar-night_darkest);
    --title-color: var(--nord_frost_light);
    --text-color: var(--nord_snow-storm-dark);
    --icon-color: var(--nord_snow-storm-dark);
    --icon-bubble-color: var(--nord_polar-night_light);
    --icon-bubble-color_hover: var(--nord_polar-night_lightest);
    --icon-bubble-border-color: var(--nord_polar-night_lightest);

    /* Settings */
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);

    padding-top: 25%;
}

h1 {
    text-align: center;
    color: var(--title-color);
    font-weight: 500;
    font-size: 2.2em;
}

.center {
    text-align: center;
}

.text {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

p {
    display: inline-block;
    vertical-align: top;
}

.padded {
    padding: 25px 0 5px 0;
}

#social-icons {
    text-align: center;
}

#social-icons a {
    display: inline-block;

    /* Circle around icon */
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border: 3px solid var(--icon-bubble-border-color);

    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;

    /* Space next to Circle */
    margin-right: 1rem;

    /* Colors */
    background-color: var(--icon-bubble-color);
    color: var(--icon-color) !important;
}

#social-icons a:last-child {
    margin-right: 0;
}

#social-icons a:hover {
    background-color: var(--icon-bubble-color_hover);
}

#cowsay-cow {
    color: var(--nord_aurora_green);
    font-weight: bold;
    font-variant-ligatures: none;
    white-space: pre;
    position: absolute;
    right: 0;
    bottom: 10px;
}
