body {
    /* Variables */
    --background-color: var(--nord_polar-night_darkest);
    --title-color: var(--nord_frost_light);
    --text-color: var(--nord_snow-storm-dark);
    --icon-color: var(--nord_snow-storm-dark);
    --icon-bubble-color: var(--nord_polar-night_light);
    --icon-bubble-color_hover: var(--nord_polar-night_lightest);
    --icon-bubble-border-color: var(--nord_polar-night_lightest);

    /* Settings */
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

section {
    padding-top: 25%;
}

h1 {
    text-align: center;
    color: var(--title-color);
    font-weight: 500;
    font-size: 2.2em;
}

.center {
    text-align: center;
}

#cowsay-head {
    color: var(--nord_aurora_green);
    font-weight: bold;
    white-space: pre;
    position: absolute;
    right: 0;
    bottom: 10px;
}
