---
---

@import "{{ site.theme }}";

#header {
	display: none;
}

a {
	color: #00d2ff;
}

body {
	background: #2E3440;
	color: #D8DEE9;
}

h1, h2, h3, h4, h5, h6 {
	color: #81A1C1;
}

section #title p {
	color: #E5E9F0;
}

section #title .credits {
	color: #D8DEE9;
}

a {
	color: #B48EAD;
}

hr {
	display: none;
}

.credits {
	display: none;
}

ul {
	list-style-type: disc;
}
