---
---

@import "{{ site.theme }}";

#header {
	display: none;
}

a {
	color: #00d2ff;
}

body {
	background: #2E3440;
	color: #ECEFF4;
}

h1, h2, h3, h4, h5, h6 {
	color: #88C0D0;
}

section #title p {
	color: #E5E9F0;
}

section #title .credits {
	color: #D8DEE9;
}

a {
	color: #A3BE8C;
}
