body {
    background-color: #343a40;
    color: #ffffffe0;
    font-family: 'JetBrains Mono', monospace;
}

.bordered-text-box {
    border-radius: 5px;
    padding: 20px;
    white-space: pre;
    line-height: 1;
    overflow: auto;
    background-color: #212529;
}

#terminal-input, #terminal-output {
    border: 1px solid #a6ed82;
}

#attributions {
    border: 1px solid #acacac;
}

label {
    margin-top: 10px;
}

a {
    color: #7fabf1;
    display: block;
}

a:hover {
    color: #9bbaec;
}
