body {
    background-color: #343a40;
    color: #ffffffe0;
    font-family: 'JetBrains Mono', monospace;
}

.flex-container {
    display: flex;
}

#cow-count-img {
    margin-top: 5px;
    margin-bottom: 15px;
}

.bordered-text-box {
    background-color: #212529;
    border-radius: 5px;
    font-variant-ligatures: none;
    letter-spacing: 1px;
    line-height: 1.05;
    overflow: auto;
    padding: 20px;
    white-space: pre;
}

#copy-terminal-input-text-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 40px;
}

.snack {
    background-color: #333;
    border: 1px solid #acacac;
    border-radius: 5px;
    bottom: 20px;
    color: #fff;
    left: 50%;
    opacity: 0;
    padding: 5px 10px;
    position: fixed;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    visibility: hidden;
    z-index: 1;
}

#terminal-input {
    flex: 1;
    margin-right: 10px;
}

#terminal-input, #terminal-output {
    border: 1px solid #a6ed82;
}

#attributions {
    border: 1px solid #acacac;
}

label {
    margin-top: 10px;
}

a {
    color: #7fabf1;
    display: block;
}

a:hover {
    color: #9bbaec;
}
